@import "tailwindcss";

@theme {
  /* You can put custom theme overrides here in the future */
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
}